<div class="ghost-hunter-search">
    <form>
        <input id="ghost-hunter-search-input" class="gh-search-bar" type="search" placeholder="Type to search" />
    </form>
    <section class="gh-search-results" id="ghost-hunter-search-results"></section>
</div>