<form>
    <input id="search-field" />
    <input type="submit" value="search">
</form>
<section id="results">
	<script>
    $("#search-field").ghostHunter({
      results: "#results"
    });
  </script>
</section>