<div class="ghost-hunter-search">
    <form>
        <input id="search-field">
        <input value="search" type="submit" placeholder="Type to search" />
    </form>
    <section class="results" id="results"></section>
</div>