<div class="social"></div>
    <a class="social-item social-item-instagram"
            href="https://instagram.com/gr36m" target="_blank"
            rel="noopener noreferrer" aria-label="Instagram">
            IG
    </a>
    <a class="social-item social-item-glass"
        href="https://glass.photo/gr36" target="_blank"
        rel="noopener noreferrer" aria-label="Glass">
        GL
    </a>
    <a class="social-item social-item-twitter"
        href="{{twitter_url @site.twitter}}" rel="me" target="_blank"
        rel="noopener noreferrer" aria-label="Twitter">
        TW
    </a>
    <a class="social-item social-item-rss"
        href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/"
        target="_blank" rel="noopener noreferrer" aria-label="RSS">
        RSS
    </a>
</div>