
    <figure class="tip-container">
        <a href='https://ko-fi.com/T6T3734AI' target='_blank'>
        <div class="tip-block">
            <h2 class="tip-title">If this post helped, consider buying me a coffee to say thanks</h2>
            <img class="ko-fi" style='border:0px;height:50px;' src='https://cdn.ko-fi.com/cdn/kofi1.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' />
        </div>
        </a>
    </figure>
