
    <figure class="tip-container">
        <div class="tip-block">
            <h2 class="tip-title">If this post helped, consider buying me a coffe to say thanks</h2>
            <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
            <script type='text/javascript'>kofiwidget2.init('Buy Me A coffee', '#29abe0', 'T6T3734AI');kofiwidget2.draw();</script> 
        </div>
    </figure>
