.subscribe {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-top: 2rem;
        padding-bottom: 1.5rem;
        max-width: 990px;
        background-color: #F8FAFC;
        border-radius: 11px;
}

.podcast-header {
    display: flex;
    align-items: center;
    flex: 1 100%;
    margin-bottom: 2rem;
    justify-content: center;
}

.podcast-artwork {
    width: 30%;
    margin-left: 2rem;
}

.podcast-artwork-img {
    border-radius: 11px;
}

.podcast-name {
    width: 50%;
    margin-left: 2rem;
}

.aya {
    margin: 0;
    font-size: 4rem;
}

.subscribe-apps {
    display: flex;
    flex: 1 100%;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: space-between;
    margin-left: 6rem;
    margin-right: 6rem;
}

.apple, .overcast, .pocketcasts, .spotify {
    width: 25%;
}

.podcast-brand {
    text-align: center;
    margin-bottom: 0.5rem;
}

.app-logo-img {
    border-radius: 11px;
    max-width: 4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subscribe-plug {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2rem;
}

.subscribe-plug a {
    color: var(--ghost-accent-color);
    font-weight: 500;
}

@media (prefers-color-scheme: dark) {
    .subscribe {
        background-color: #2a2d30;
    }
}

@media (max-width: 640px) {
    .aya {
        font-size: 2rem;
    }
    .subscribe-apps {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        padding: 1rem;
    }
}