{{!< default}}

<div class="content-area">
    <main class="blog-main container">
        <div class="blog-feed">
            {{#foreach posts}}
                {{> "blog_loop"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>