{{!< default}}

<div class="content-area">
    <main class="blog-main container">
        <div class="blog-feed">
                <div class="blog-posts">
                    {{#foreach posts}}
                        {{> "blog_loop"}}
                    {{/foreach}}
            </div>
        </div>
        {{> blog_pagination}}
    </main>
</div>