{{!< default}}

<div class="content-area">
    <main class="site-main container">
        <div class="post tag-blog single">
            
            {{#foreach posts}}
                {{> "blog_loop"}}
            {{/foreach}}
        
        {{pagination}}
    </main>
</div>