{{!< default}}
<div class="content-area">
    <main class="blog-main container">
          <div class="blog-feed">
                  <div class="search-box">
                        <form>
                              <input id="ghost-search-field" />
                        </form>
                  </div>
                        <div id="ghost-search-results"></div>
            </div>
      </main>
</div>