{{!< default}}
<div class="content-area">
    <main class="blog-main container">
          <div class="blog-feed">
                  <div class="search-box">
                              <input id="ghost-search-field">
                              <form>
                                    <div id="search-field"></div>
                                    <input type="submit" id="search-button">
                              </form>
                  </div>
                        <div id="search-results"></div>
            </div>
      </main>
</div>