{{!< default}}
 {{#is "home"}}
<div class="content-area">
    <div class="profile">
        <div class="profile-text">
            <h1 class="hello">👋 Hello Friends!</h1>
            <p>Welcome to my website, yes that sounded a bit old school when I wrote it, but perhaps that's me.</p>
            <p>Really, this place is a big old list of stuff I am up to. You will find podcasts, blog posts and the ocasional video - please don't make me start a newsletter!</p>
        </div>
        <div class="profile-image">
            <img class="profile-picture" src="{{asset "/images/profile.jpeg"}}">
        </div>
    </div>
    <div class="wave"></div>
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CESI5KJI&placement=gregmorriscouk" id="_carbonads_js"></script>
    <div class="highlight container">
            <a href="/photos/"><h2 class="section-title">Photos</h2></a>
            {{> new_photo}}
    </div>
    <div class="highlight container">
        <a href="https://gregmorris.co.uk/aya/"><h2 class="section-title">Podcasts</h2></a>
            {{> new_podcasts}}
    </div>
    <main class="blog-main container">
                    <h2 class="section-title">Blog Posts</h2>
                    {{#foreach posts}}
                        {{> "blog_loop"}}
                    {{/foreach}}
        {{pagination}}
    </main>
</div>
{{else}}
<div class="wave"></div>
<div class="advert">
<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CESI5KJI&placement=gregmorriscouk" id="_carbonads_js"></script>
</div>
<div class="content-area">
    <main class="blog-main container">
        <div class="blog-feed">
                <div class="blog-posts">
                    {{#foreach posts}}
                        {{> "blog_loop"}}
                    {{/foreach}}
            </div>
        </div>
        {{pagination}}
    </main>
</div>
{{/is}}