{{!< default}}
<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CESI5KJI&placement=gregmorriscouk" id="_carbonads_js"></script>
<div class="content-area">
    <div class="profile container">
        <div class="profile-text">
            <h1>👋 Hello Friends!</h1>
            <p>Welcome to my website, yes that sounded a bit old school when I wrote it, but perhaps that's me.</p>
            <p>Really, this place is a big old list of stuff I am up to. You will find podcasts, blog posts and the ocasional video - please don't make me start a newsletter!</p>
        </div>
        <div class="profile-image">
            <img class="profile-picture" src="{{asset "/images/profile.jpeg"}}">
        </div>

    </div>
    <div class="highlight container">
        <div class="podcasts">
            <a href="https://gregmorris.co.uk/aya/">
            <h2 class="section-title">🎧 Podcasts</h2></a>
               {{#get "posts" filter="tags:podcast" limit="3"}}
                {{#foreach posts}}
                    {{> "podcast_loop"}}
                {{/foreach}}
                {{/get}}
        </div>
        <div class="new-posts">
            <h2>👉 Start Here</h2>
                {{#get "posts" filter="featured:true" limit="3"}}
                {{#foreach posts}}
                    {{> "podcast_loop"}}
                {{/foreach}}
                {{/get}}
        </div>

    </div>
    <main class="blog-main container">
        <div class="blog-feed">
                <div class="blog-posts">
                    <h2>Everything Else</h2>
                    {{#get "posts" filter="featured:false+tag:-[podcast]" limit="10"}}
                    {{#foreach posts}}
                        {{> "blog_loop"}}
                    {{/foreach}}
                    {{/get}}
            </div>
        </div>
        <div class="read-more">
            <a href="/blog/">Read More</a>
        </div>
    </main>
</div>