{{!< default}}
<div class="content-area">
    <main class="site-main container">
        <div class="post-feed">
            <div class="grid-item grid-sizer"></div>
            {{#foreach posts}}
                {{> "photo_loop"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>