{{!< default}}
<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CESI5KJI&placement=gregmorriscouk" id="_carbonads_js"></script>
<div class="content-area">
    <main class="blog-main container">
        <div class="blog-feed">
                <div class="blog-posts">
                    {{#foreach posts}}
                        {{> "micro_loop"}}
                    {{/foreach}}
            </div>
        </div>
        {{pagination}}
    </main>
</div>