.post-feed {
    margin: -15px;
    opacity: 0;
    transition: opacity 0.3s var(--animation-base);
}

.post-feed.initialized {
    opacity: 1;
}

.post-feed .grid-item {
    width: 330px;
}

.post-feed .post {
    position: relative;
    margin: 15px;
}

.post-feed .post-image {
    width: 100%;
}

.blog-feed {
    max-width: 800px;
    margin: auto;
}

.blog-post-card {
    display: flex;
    justify-content:space-between;
    align-content:flex-end;
}

.post-card-image {
    min-width: 100px;
    height:100px;
    border-radius: 3px;
    background-size: cover;
    background-position: center;
}

.post-card-meta {
    flex-grow: 1;
    margin-left: 1.6rem;
    text-align: left;
    flex-grow: 1
}

.blog-feed-title {
    margin-top: 1rem;
}

.blog-feed-excerpt {
    
}

@media (max-width: 1019px) {
    .post-feed {
        margin: -5px;
    }

    .post-feed .grid-item {
        width: calc(100% / 3);
    }

    .post-feed .post {
        margin: 5px;
    }
}

@media (max-width: 640px) {
    .post-feed .grid-item {
        width: calc(100% / 2);
    }
}
