.tip-container {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    max-width: 800px;
}
.tip-block {
    background: var(--darkmode-background);
}

.tip-title {
    font-size: 22px;
    line-height: 1.7;
    margin: 0 0 20px;
    color: var(--white-color);
}

@media (prefers-color-scheme: dark) {
    .tip-block {
        background: var(--white-color);
    }
    .tip-title {
        color: var(--primary-text-color);
    }
}